body {
  background: #f9b5aa;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background-color: #fb9e93;
  border-radius: 10px;
}
h1 {
  font-family: "Zeyada", cursive;
  font-weight: bolder;
  font-size: 48px;
  line-height: 1.5;
  color: white;
  text-align: center;
  padding-top: 30px;
}

.form-container {
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 10px;
  color: black;
}
form {
  display: flex;
}

.hint {
  margin-top: 10px;
  line-height: 1.5;
  font-family: "Zeyada", cursive;
  font-size: 18px;
  color: white;
}
.topic-input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 80%;
  font-size: 16px;
  font-family: "Zeyada", cursive;
}
.submit-button {
  margin-left: 5px;
  background-color: #f17378;
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 20%;
  color: white;
  box-shadow: 0px 20px 60px rgba (65, 50, 100, 1);
}
.submit-button:hover {
  background-color: white;
  color: #f17378;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

.poem {
  background-color: white;
  font-family: "Zeyada", cursive;
  font-weight: bolder;
  font-style: normal;
  font-size: 20px;
  color: #f17378;
  margin: 30px;
  padding: 10px;
  border-radius: 5px;
  line-height: 1.5;
  text-align: center;
  border-left: 2px solid #f17378;
  border-bottom: 2px solid #f17378;
}

.hidden {
  display: none;
}
footer {
  text-align: center;
  font-size: 12px;
  margin-top: 30px;
  padding-bottom: 20px;
}

a {
  color: white;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
